.App {
  text-align: center;
  background-color: #eeeeee;
  padding: 2rem 0;
    background-image: url("assets/images/dollar.jpeg");
    background-size: 100%;
}

.card {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: none!important;
  box-shadow: 0 1px 4px 0 rgba(112, 114, 125, 0.2);
}

.btn.btn-primary {
  background-color: #8A7769!important;
  border-color: #8A7769!important;
}

.btn.btn-primary:hover,.btn.btn-primary:active {
  background-color: #564337!important;
  border-color: #564337!important;
}
.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(138 119 105 / 50%)!important;
}

